
html { 
  background: linear-gradient(rgba(0, 0, 0, 0.5), 
  	rgba(0, 0, 0, 0.4)), 
  	url(the-heights.jpg) 
  	no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.topnav {
/*	margin-top: 0%;*/
  overflow: hidden;
  background-color: #333;
  text-align: left;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.title {
	margin-top: 0.01%;
	text-align: center;
	color: white;
	font-size: 2vw;
}

.subtitle {
	color: white;
	font-size: 1.2vw;
}

.table-1 {
	margin: auto;
	margin-top: 0.01%;
  	width: 10%;
/*  	height: 20%;*/
  	border: 2.5px solid white;
  	border-radius: 10px;
  	padding: 5px;
}

.planner {
	margin: auto;
  	width: 50%;
  	border: 1.5px solid white;
  	border-radius: 10px;
  	padding: 20px;
  	border-spacing: 30px;
  	background-color: rgba(14, 102, 140, 0.73);
}

.confirm {


  	border: 1.5px solid white;
  	border-radius: 10px;
  	text-align: center;
  	padding: 40px;
  	color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 120px;
	height: 700px;
	justify-content: center;

  	background-color: rgba(14, 102, 140, 0.73);
}

/*.schedule, td {
	color: white;
	border: 1px solid;
	border-radius: 10px;
	border-collapse: collapse;
}

td {
	padding: 5px;
}*/



/*table {
    border-collapse:separate;
    border:solid white 1px;
    border-radius:6px;
    color: white;
}

td, th {
    border-left:solid white 1px;
    border-top:solid white 1px;
}

th {
    background-color: blue;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}*/


table.schedule {
	/*margin-top: 20px;
	margin-left: 45px;*/
	margin: auto;
  	width: 50%;
  border: 1.2px solid white;
  border-radius: 13px; 
  border-spacing: 0;
  width: 90%;
  }

table.schedule td { 
  border-bottom: 1.2px solid white;
  border-right: 1.2px solid white;
  padding: 0px; 
  }

td.#last-column {
    border-right: none;
  }

table.schedule tr:last-child > td {
  border-bottom: none;
}

table.schedule td:last-child {
  border-right: none;
}

.hours {
	color: white;
	font-size: 0.725vw;
	text-align: center;
}

.days {
	color: white;
	font-size: 1vw;
	text-align: center;
}

.day-cell {
	width: 4vw;
}

/*.timeslot-cell {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}*/

input[type="submit"], input[type="reset"], .timeslot-cell {
/*	background: none;*/
	font-size: 0;
	line-height: 0;
	color: transparent;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
width:100px;
height:55px;
   background-color: transparent;
}

.timeslot-cell-selected {
	color: #003A54;
	border: none;
	padding: 0;
	font: inherit;
/*	cursor: pointer;*/
	outline: inherit;
}

.timeslot-cell:hover {
	background-color: #003A54;
}

.timeslot-cell:focus {
	background-color: #003A54;
}

/*.day {
	font-size: 1.5vw;
}

.timeslot {
	font-size: 1vw;
}*/
